body {
  // font-family: 'Lato', sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.site-page-header {
  font-weight: 600;
}

.main-header {
  font-size: 2.7rem;
  font-weight: 600;
}

.sub-header {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}
