@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
@mixin middle {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@mixin absCenter {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@mixin roundButton {
  //write CSS code here
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 30px;
  // background: #343434;
  box-shadow: none;
  padding: 1rem 2rem;
  color: #fff;
  border: 1px solid transparent;

  line-height: inherit;
}
@mixin sections {
  padding: 0 5rem;
  margin: 5rem 0;
}

@mixin page {
  padding: 0 5rem;
  margin: 10rem 0;
}

@mixin normalFont {
  font-size: $mm9-normal-font-size;
  font-weight: 500;
  color: $mm9-black;
}

// MEDIA QUERY MANAGER
/*
  0 - 600PX: Phone
  600px - 900px: Tablet Portrait
  900px - 1200px: Tablet landscape
  [1200px - 1800px] : is where our normal styles apply 
  1800px+: Big desktop 
  */

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

/*
  $breakpoint argument choices:
  ~ phone
  ~ tab-port
  ~ tab-land
  ~ big-desktop
  
  1em = 16px
  
  ORDER: base + typography > general layout + grid > page layout > components
  */

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
