// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-black: #2e2e2e;
$mm9-black: #2e2e2e;
$mm9-border-color: #dd3a3fd9;

// font size
$mm9-small-font-size: 1.4rem;
$mm9-normal-font-size: 1.6rem;
$mm9-large-font-size: 1.8rem;
