/* @import "react-alice-carousel/lib/alice-carousel.css"; */
.item {
  background-color: bisque;
  width: 300px;
}
.product_view {
  @include page;
  &_data_name {
    color: $mm9-black;
    font-size: $mm9-large-font-size;
    font-weight: 600;
    line-height: 2.4rem;
    text-transform: capitalize;
  }
  &_share {
    margin-top: 20px;
    font-size: 14px;
    color: #343434;
  }
  &_data_description {
    color: #898989;
  }
  &_item_colour {
    height: 20px;
    width: 20px;
    background-color: aqua;
    margin: 3px;
  }
  &_cart_button {
    @include roundButton;
    background: #343434;
  }
  &_cart_instock {
    display: flex;
    align-items: center;
    border-radius: 30px;
    color: #343434;
    font-weight: 700;
    font-size: 14px;
    line-height: inherit;
    font-family: 'Oswald', sans-serif;
  }
}
.common_product_text {
  color: #333;
  font-size: 14px;
}
.product_view_data {
  &_atributes {
    margin-top: 10px;
    padding-top: 10px;
    background-color: green($color: #000000);
  }
  &_price {
    font-size: $mm9-normal-font-size;
    margin-top: 10px;
    font-weight: 700;
    line-height: 1.1;
  }

  &_description {
    font-size: 12px;
    color: #898989;
  }
}
