/* @import "react-alice-carousel/lib/alice-carousel.css"; */
.item {
  background-color: bisque;
  width: 300px;
}
.product_view {
  &_data_name {
    font-family: 'Poppins', sans-serif;
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
  }
<<<<<<< HEAD
  &_share {
    margin-top: 20px;
  }
=======
>>>>>>> product card started
  &_data_description {
    color: #898989;
  }
  &_item_colour {
    height: 20px;
    width: 20px;
    background-color: aqua;
    margin: 3px;
  }
  &_cart_button {
<<<<<<< HEAD
    @include roundButton;
    background: #343434;
  }
  &_cart_instock {
    display: flex;
    align-items: center;
=======
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    background: #343434;
    box-shadow: none;
    padding: 0 20px;
    color: #fff;
    height: 2.2rem;
    line-height: inherit;
    font-family: 'Oswald', sans-serif;
>>>>>>> product card started
  }
}
.product_view_data {
  &_atributes {
    margin-top: 10px;
    padding-top: 10px;
    background-color: green($color: #000000);
  }
<<<<<<< HEAD
  &_price {
    margin-top: 10px;
    font-weight: 700;
    line-height: 1.1;
  }
=======
>>>>>>> product card started
}
