.products_card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product_section_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.product_card {
  cursor: pointer;
  position: relative;
  background: white;
  text-align: center;
  border: 1px solid #ebebeb;
  border-left: 1px solid transparent;
  display: inline-block;
  min-width: 240px;
  margin-top: -1px;
  width: 20%;
  &:hover {
    border: 2px solid #dd3a3fd9;
  }
  // new,best
  &_tag {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;
    background: #dd3a3fd9;
    box-shadow: none;
    padding: 0.3rem 2rem;
    color: #fff;
  }
  &_quickview {
    top: 20% !important;
    left: 22% !important;
  }

  &_quickview,
  &_addtocart {
    color: white;
    font-size: 20px;
    opacity: 1;
    white-space: nowrap;

    &:hover {
      background-color: #dd3a3fd9;
    }
  }

  &_image_container {
    height: 20rem;
    width: 20rem;
    margin: 2rem auto;
  }

  &_image {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  img {
    vertical-align: middle;
  }
  &_name {
    color: #2e2e2e;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 5px;
    display: block;
  }
  &_action {
    & > button {
      @include roundButton;
      background-color: #292929;
    }
  }
  &_price {
    font-size: 1.4rem;
    color: #292929;
    font-weight: 500;
    margin-top: 1em;
  }
}

.overlay {
  @include absCenter;
}
.common_round_button {
  // // opacity: 0;
  opacity: 0;

.product_card:hover .product_card_quickview {
  opacity: 1;
  animation: moveLeftIn 0.5s ease-in-out;
}
.product_card:hover .product_card_addtocart {
  opacity: 1;
  animation: moveRightIn 0.5s ease-in-out;
}
.common_round_button {
  opacity: 0;
}
